@import "variables";
.icon {
    display: inline-block;
    position: relative;
    height: 1.5em;
    width: 1.5em;
    svg {
        height: 100%;
        width: 100%;
        path {
            fill: currentColor;
        }
    }
}

.icon-wrapper {
    display: flex;
    height: 2em;
    width: 2em;
    padding: 0.5em;
    background-color: $bg-secondary;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    &:hover {
        opacity: 1;
    }
}


/*Margin*/

.m1 {
    margin: 1em;
}

.my-1 {
    margin: 1em 0;
}


/**
 Media rules
**/

// small screen
@media only screen and (max-width: $breakpoint-md) {
    .sm {
        display: block;
    }
    .lg,
    .md,
    .xl {
        display: none;
    }
    .hide-sm {
        display: none;
    }
}

@media only screen and (min-width: $breakpoint-md) {
    .md {
        display: block !important;
    }
    .sm,
    .lg,
    .xl {
        display: none;
    }
}

@media only screen and (min-width: $breakpoint-lg) {
    .lg {
        display: block !important;
    }
    .sm,
    .md,
    .xl {
        display: none;
    }
}

@media only screen and (max-width: var(--breakpoint-xl)) {
    .xl {
        display: block !important;
    }
    .lg,
    .md,
    .sm {
        display: none;
    }
}

main {
    section {
        width: 100%;
        min-height: 100vh;
        .section-wrapper {
            width: 80%;
            margin: 0 auto;
        }
    }
    .section-wrapper-info {
        padding: 2em 0;
    }
    section .info-block {
        display: grid;
        grid-template-columns: 50% 40%;
        align-items: center;
    }
    .card {
        text-align: left;
        color: #e9e9e9;
        letter-spacing: 0.02em;
        h2 {
            color: $text-secondary;
        }
    }
}

@media only screen and (max-width: $breakpoint-md) {
    main {
        section .info-block {
            grid-template-columns: 1fr;
        }
    }
}

.bg-odd {
    background-color: #00b9be;
    color: #ffffff;
}

.bg-even {
    background-color: #00d4d5;
    color: #ffffff;
    h2 {
        color: #009599;
    }
}

.btn {
    display: flex;
    padding: 1.2em;
    margin: 1em 0;
    font-size: 1em;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-primary {
    background-color: $primary-color;
    color: #ffffff;
    border: 0;
    border-bottom: 5px solid $primary-dark;
}

.btn-secondary {
    background-color: $btn-secondary;
    color: #e9e9e9;
    border: 1px solid #e9e9e9;
}

.text-center {
    text-align: center;
}