:root {
    --background-color: #16b7b7;
    --background-color-lighter: #4dd4d4;
    --primary-color: #f6bf4c;
    --text-color: #ffffff;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

$nav-height: 72px;
$nav-margin: 28px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;