:root {
    --text-color: #ffffff;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

$nav-height: 72px;
$nav-margin: 21px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$primary-color: #ffc107;
$primary-dark: #ef8b19;
$bg-primary: #00b9be;
$bg-secondary: #00d4d5;
$text-secondary: #009599;
$text-primary: #ffffff;
$btn-secondary: #3ededc;