//colors
$primary-color: #121212;
$secondar-color: #ff9800;
$text-color: rgba(0, 0, 0, 0.87);
$text-color-light: rgba(0, 0, 0, 0.6);

// set -2
/*
 Blue shade  (32,40,83)
 Orange
 231,137,57
 211,105,44
*/

$main-bg: #ffffff;

$border-radius: 8px;
