{{ define "main" }}
<main class="min-h-screen">
  <header class="bg-yellow-900 p-8 text-center bg-om">
    <h1 class="text-white text-5xl font-bold">{{.Page.Title}}</h1>
  </header>
  <div
    class="prose prose-xl max-w-none mx-auto w-full lg:w-[80%] p-4 prose-h2:text-center"
  >
    {{.Content}}
  </div>
  <div>
    <ul class="flex gap-4 my-4 justify-center items-stretch">
      <!-- Ranges through content/posts/*.md -->
      {{ range .Pages }}
      <li>
        <div class="card w-96 bg-primary text-primary-content">
          <div class="card-body">
            <h2 class="card-title">{{.Title}}</h2>
            <p>{{.Params.description}}</p>
            <div class="card-actions justify-end">
              <a class="btn btn-accent" href="{{.RelPermalink}}">
                Explore
                <div class="h-6 w-6 ml-2">{{partial "svg.html" "taxi"}}</div>
              </a>
            </div>
          </div>
        </div>
      </li>
      {{ end }}
    </ul>
  </div>
</main>
{{ end}}
