<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <div class="h-5 w-5">
          {{ with .Site.Params.hamburger_icon}} {{partial "svg.html" "temple"}}
          {{end}}
        </div>
      </label>
      <ul
        tabindex="0"
        class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
      >
        {{ range .Site.Menus.main }}
        <li><a href="{{.URL}}">{{.Name}}</a></li>
        {{ end }}
      </ul>
    </div>
  </div>
  <div class="navbar-center">
    <a class="btn btn-ghost normal-case text-xl heading-logo" href="/"
      >{{.Site.Title}}</a
    >
  </div>
  <div class="navbar-end">
    <div class="block">
      {{ with .Site.Params.tel}} {{ $tel := replaceRE "[-+\\s]" "" .}}
      <a href="tel:{{$tel |safeURL}}" class="flex gap-2"
        ><div class="h-6 w-6 motion-safe:animate-ping inline-block">
          {{ partial "svg.html" "telephone"}}
        </div>
        <span class="hidden md:block">{{.}}</span></a
      >
      {{end}}
    </div>
  </div>
</div>
