<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <div class="h-5 w-5">
          {{ with .Site.Params.hamburger_icon}} {{partial "svg.html" "temple"}}
          {{end}}
        </div>
      </label>
      <ul
        tabindex="0"
        class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li><a href="/">Homepage</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/packages">Packages</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar-center">
    <a class="btn btn-ghost normal-case text-xl heading-navbar" href="/"
      >{{.Site.Title}}</a
    >
  </div>
  <div class="navbar-end">
    <div class="hidden md:block">
      {{ with .Site.Params.tel}} {{ $tel := replaceRE "[-+\\s]" "" .}}
      <a href="tel:{{$tel |safeURL}}">{{.}}</a>
      {{end}}
    </div>
    <div class="block md:hidden">
      {{ with .Site.Params.tel}} {{ $tel := replaceRE "[-+\\s]" "" .}}
      <a href="tel:{{$tel |safeURL}}" class="h-6 w-6"
        ><div class="h-6 w-6 animate-ping">
          {{ partial "svg.html" "telephone"}}
        </div></a
      >
      {{end}}
    </div>
  </div>
</div>
