<nav>
    <div class="nav-wrapper">
        <div class="logo">
            {{ $image := resources.Get "/images/logo-white.png" }}
            <div><img src="{{ $image.RelPermalink }}" /></div>
        </div>
        <div class="menu-item">
            {{ range .Site.Menus.main }}
            <div>{{ .Name }}</div>
            {{ end }}
        </div>
        <div class="icons">
            <div class="icon-wrapper">
                {{ partial "fontawesome.html" "facebook-f" }}
            </div>
            <div class="icon-wrapper">{{ partial "fontawesome.html" "twitter" }}</div>
        </div>
    </div>
</nav>