<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ .Title}}</title>
  {{ $css := resources.Get "css/output.css" }} {{$mincss := $css | minify}}
  <link rel="stylesheet" href="{{ $mincss.RelPermalink }}" integrity="" />

  <!--Css-->
  {{ if .Site.Params.custom_css}} {{ range .Site.Params.custom_css -}}
  <!-- minify-->
  {{ $css := resources.Get . | minify }}
  <link href="{{ $css.RelPermalink }}" rel="stylesheet" />
  {{- end }} {{ end }}
</head>
