{{ define "main" }}
<main aria-role="main">
    <section class="bg-odd">
        <div class="section-wrapper hero">
            <div class="hero-img md">
                <img src="images/hero.png" width="100%" />
            </div>
            <div class="content">
                <h1>{{ .Site.Title }}</h1>
                <h2>{{ .Site.Params.Caption }}</h2>
                <div class="hero-img sm my-1">
                    <img src="images/hero.png" width="100%" />
                </div>
                <a class="btn btn-primary" href="whatsapp://send?text={{.Site.Params.Message}}&phone=+{{.Site.Params.Phone}}">
          BOOK NOW &nbsp;{{ partial "fontawesome.html" "car-side" }}</a
        >
      </div>
    </div>
  </section>
  <section class="bg-even">
    <div class="section-wrapper text-center section-wrapper-info">
      <h1>5000</h1>
      <div class="info-block">
        <img src="images/travellers.png" width="100%" />
        <div class="card">
          <h2>Travellers booked taxi services with us</h2>
          <p>
            Well prepared means well travelled.Your journey starts much before
            you take your bag and set off. We help you to find the right taxi
            that suits your needs. We have many experienced drivers who provide
            you the best travel experience.
          </p>
          <a class="btn btn-secondary">Find Out More</a>
            </div>
        </div>
        <p></p>
        </div>
    </section>
</main>
{{ end }}